.product {
  text-align: left;

  @media (min-width: map-get($breakpoints, tablet)) {
    display: flex;
    height: 334px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    min-height: 660px;
    display: flex;
    flex-direction: column;
  }
}

.product__content {
  padding: 0 28px;
  border: 1px solid #ececec;

  @media (min-width: map-get($breakpoints, tablet)) {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    width: auto;
  }
}

.product__info {
  @media (min-width: map-get($breakpoints, desktop)) {
    height: 120px;
  }
  // padding-bottom: 25px;
  // border-bottom: 1px solid #ececec;
}

.product__cart {
  background-color: #ffffff;
  border: none;
}

.product__image-container {
  display: flex;

  @media (min-width: map-get($breakpoints, desktop)) {
    height: 465px;
  }
}

.product__image {
  width: 100%;
  height: 100%;

  @media (min-width: map-get($breakpoints, tablet)) {
    width: 334px;// временно скорее всего
  }
}

.product__title {
  margin: 28px 0 6px 0;
  color: #000000;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: map-get($breakpoints, tablet)) {
    margin: 25px 0 15px 0;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    margin-bottom: 7px;
  }
}

.product__desc {
  margin-bottom: 23px;
  font-size: 13px;
  line-height: 30px;
  color: #444444;

  @media (min-width: map-get($breakpoints, tablet)) {
    font-size: 15px;
    line-height: 30px;
  }
}

.product__price {
  font-weight: 700;
  color: #000000;
}

.product__footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 27px 0;
  border-top: 1px solid #ececec;
}
