.video-section__content {
  border: 1px solid #ececec;

  @media (min-width: map-get($breakpoints, tablet)) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    position: relative;
    flex-direction: row;
  }
}

.video-section__wrapper {
  padding: 30px;

  @media (min-width: map-get($breakpoints, tablet)) {
    padding: 0 45px 45px 45px;
    order: 3;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 180px 60px 57px 85px;
  }
}

.video-section__video {
  position: relative;

  @media (min-width: map-get($breakpoints, tablet)) {
    order: 1;
    height: 450px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    width: 65%;
  }
}

.video-section__title {
  margin: 0;
  position: relative;
  padding: 27px 0 25px 96px;
  text-align: left;
  color: #000000;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: map-get($breakpoints, tablet)) {
    padding: 38px 0 38px 96px;
    order: 2;
    font-size: 20px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    position: absolute;
    width: 200px;
    right: 83px;
    top: 55px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 32px;
    background-image: url("../../../img/icon-video.svg");
    background-repeat: no-repeat;

    @media (min-width: map-get($breakpoints, tablet)) {
      left: 7%;
      top: 38%;
      transform: translate(0, 0);
    }

    @media (min-width: map-get($breakpoints, desktop)) {
      left: 100px;
      top: -22px;
    }
  }
}

.video-section__description {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: map-get($breakpoints, tablet)) {
    font-size: 15px;
    margin-bottom: 43px;
  }
}

.video-section__action {
  width: auto;
  display: block;
}

.video-section__play {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // FIXME: наверное можно вынести в миксин центререр
  border-radius: 21px;
  width: 100px;
  height: 76px;
  background-image: url("../../../img/icon-play.svg");
  background-repeat: no-repeat;
  transition: transform 0.25s ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.2) translate(-50%, -50%);
    cursor: pointer;
  }

  &:active {
    transform: scale(0.8) translate(-50%, -50%);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 21px;
      width: 100px;
      height: 76px;
      background-color: #ffffff;
      opacity: 0.5;
    }
  }
}
