.video-section__content {
  border: 1px solid #ececec;

  @media (min-width: map-get($breakpoints, tablet)) {
    display: flex;
    flex-direction: column;
  }
}

.video-section__wrapper {
  padding: 30px;

  @media (min-width: map-get($breakpoints, tablet)) {
    padding-top: 0;
    order: 3;
  }
}

.video-section__video {
  position: relative;

  @media (min-width: map-get($breakpoints, tablet)) {
    order: 1;
    height: 405px;
  }
}

.video-section__title {
  position: relative;
  padding: 27px 0 25px 96px;
  text-align: left;
  color: #000000;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: map-get($breakpoints, tablet)) {
    padding-bottom: 0;
    order: 2;
    font-size: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background-image: url("../../../img/icon-video.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: map-get($breakpoints, tablet)) {
      left: 30px;
      top: 15px;
      transform: translate(0, 0);
    }
  }
}

.video-section__description {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: map-get($breakpoints, tablet)) {
    font-size: 15px;
  }
}

.video-section__action {
  width: auto;
  display: block;
}

.video-section__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // FIXME: наверное можно вынести в миксин центререр
  border-radius: 21px;
  width: 100px;
  height: 76px;
  background-image: url("../../../img/icon-play.svg");
  background-repeat: no-repeat;
}
