.video-section__content {
  position: relative;
  border: 1px solid #ececec;

  @media (min-width: map-get($breakpoints, tablet)) {
    position: static;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    flex-direction: row;
  }
}

.video-section__wrapper {
  padding: 21px 34px 35px;

  @media (min-width: map-get($breakpoints, tablet)) {
    padding: 0 45px 45px 45px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    width: 24%;
    display: flex;
    flex-direction: column;
    padding: 0 30px 58px 82px;
  }
}

.video-section__video {
  top: 95px;
  position: absolute;
  min-height: 150px;

  @media (min-width: map-get($breakpoints, tablet)) {
    top: 0;
    position: relative;
    height: 450px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    width: 65%;
  }
}

.video-section__title {
  margin: 0;
  padding: 0 0 200px 0;
  text-align: left;
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: map-get($breakpoints, tablet)) {
    margin-left: -3px;
    padding: 36px 0 27px;
    font-size: 20px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    padding: 39px 0 33px 0;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    right: 180px;
  }

  &::before {
    content: "";
    display: block;
    margin-right: 20px;

    width: 50px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;

    @media (min-width: map-get($breakpoints, tablet)) {
      margin-right: 15px;
    }

    @media (min-width: map-get($breakpoints, desktop)) {
      margin-bottom: 25px;
    }
  }
}

.video-section__description {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: map-get($breakpoints, tablet)) {
    margin-left: -6px;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 36px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    margin-bottom: 46px;
  }
}

.video-section__action {
  // width: auto;
  display: block;

  @media (min-width: map-get($breakpoints, tablet)) {
    width: 100%;
  }
}

.video-section__play {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // FIXME: наверное можно вынести в миксин центререр
  border-radius: 21px;
  width: 100px;
  height: 76px;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  transition: transform 0.25s ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.2) translate(-50%, -50%);
    cursor: pointer;
  }

  &:active {
    transform: scale(0.8) translate(-50%, -50%);

    &::before {
      content: "";
      display: block;
      // position: absolute;
      top: 0;
      left: 0;
      border-radius: 21px;
      width: 100px;
      height: 76px;
      background-color: #ffffff;
      opacity: 0.5;
    }
  }
}
