.button {
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  font-weight: 700;
  line-height: 20px;
  box-sizing: border-box;

  &--regular {
    box-shadow: 0 0 0 2px #444444;
    background-color: #ffffff;
    color: #444444;

    @media (min-width: map-get($breakpoints, mobile)) {
      width: 230px;
    }
  }

  &--special {
    background-color: #63d1bb;
    color: #ffffff;
  }

  &--small {
    @media (min-width: map-get($breakpoints, mobile)) {
      width: 175px;
    }
  }

  &--big {
    @media (min-width: map-get($breakpoints, mobile)) {
      width: 100%;
    }
  }

  &--interier {
    background-color: #63d1bb;
  }

  &--toy {
    background-color: #56c3b2;
  }
}
