.socials {
  background-image: linear-gradient(to bottom, #ffffff, #e5e5e5);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.socials__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
