.sc-nets {
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: map-get($breakpoints, tablet)) {
    width: 33.33%;
    display: flex;
    align-items: center;
    border: none;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    margin: auto;
    padding-bottom: 0;
    justify-content: center;
  }
}

.sc-nets__item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:not(:last-of-type) {
    margin-right: 41px;
  }
}

.sc-nets__link {
  display: flex;

  &:hover .sc-nets__icon,
  &:focus .sc-nets__icon {
    fill: #46c1ae;
    cursor: pointer;
  }

  &:active .sc-nets__icon {
    fill: #bde3dd;
  }
}

.sc-nets__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -3px 0 0 0;
  padding: 0 34px 23px 57px;
  list-style: none;
  justify-content: center;

  @media (min-width: map-get($breakpoints, tablet)) {
    width: 100%;
    padding: 13px 38px;
    align-items: center;
    // padding-bottom: 3px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    max-width: 150px;
  }
}

.sc-nets__icon {
  transition: fill 0.25s ease-in-out;
}
