.reviews {
  padding: 30px;
}

.reviews__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.reviews__actions {
  border: none;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px 0 #ececec;
}
