.reviews {
  position: relative;

  @media (min-width: map-get($breakpoints, tablet)) {
    margin-top: 25px;
    padding-bottom: 50px;
  }
}

.reviews__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.review__content {
  margin: 0;

  @media (min-width: map-get($breakpoints, tablet)) {
    margin-bottom: 60px;
  }
}

.reviews__item {
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__wrapper {
  padding: 0 30px 30px 30px;

  @media (min-width: map-get($breakpoints, tablet)) {
    padding: 80px 50px 4px 50px;
    background-image: url("../../../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    padding: 70px 0 90px 175px;
  }
}

.reviews__actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 38px;

  @media (min-width: map-get($breakpoints, tablet)) {
    width: 165px;
    position: absolute;
    bottom: 5%;
    right: 10%;
  }
}

.reviews__action {
  height: 50px;
  width: 50%;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 #b9b9b9;
  background-repeat: no-repeat;
  background-position: 50%;

  &--previous {
    background-image: url("../../../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../../../img/icon-right-arrow.svg");
  }

  &--feedback {
    @media (min-width: map-get($breakpoints, tablet)) {
      position: absolute;
      width: 165px;
      top: 80px;
      right: 50px;
    }
  }

  @media (min-width: map-get($breakpoints, tablet)) {
    box-shadow: none;
  }
}

.reviews__title {
  margin: 20px 0 30px 0;
  color: #000000;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: map-get($breakpoints, tablet)) {
    margin-bottom: 60px;
    font-size: 43px;
    line-height: 50px;
  }
}

.review__author {
  margin-top: 25px;
  font-weight: 700;
  color: #000000;
}
