.header {
  position: relative;
  padding-top: 20px;

  @media (min-width: map-get($breakpoints, tablet)) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0;
    border-bottom: 1px solid #dfdfdf;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    @include wrapper(1150px);
  }
}

.header__logo {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  transition: opacity 0.25s ease-in-out;

  &:hover,
  &:focus {
    opacity: 0.6;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: map-get($breakpoints, tablet)) {
    // width: 50%;
    justify-content: flex-start;
    padding-left: 50px;
    box-sizing: border-box;
    width: 370px;
    margin-bottom: 0;
    height: 90px;
    display: flex;
    align-items: center;
    // border-bottom: 1px solid #ececec;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    display: flex;
    justify-content: center;
    width: 160px;
    position: absolute;
    left: 50%;
    padding: 0;
    transform: translateX(-50%);
  }
}
