.card {
  &--best-product {
    padding: 30px;
    padding-bottom: 14px;

    @media (min-width: map-get($breakpoints, tablet)) {
      padding: 0 50px 50px 50px;
    }

    @media (min-width: map-get($breakpoints, desktop)) {
      display: flex;
      padding-top: 70px;
      padding-bottom: 76px;
    }
  }
}

.card__title {
  position: relative;///!!!!!!!!!!!!!!
  bottom: -1.7rem;
  margin: 6px 0 0 0;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;

  @media (min-width: map-get($breakpoints, tablet)) {
    position: static;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    max-width: 80px;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    margin-top: 70px;
  }
}
