.card {
  &--best-product {
    padding: 30px;

    @media (min-width: map-get($breakpoints, tablet)) {
      padding: 50px;
    }

    @media (min-width: map-get($breakpoints, desktop)) {
      position: relative;
      padding-top: 235px;
    }
  }
}

.card__title {
  position: relative;
  bottom: -1.7rem;
  margin: 6px 0 0 0;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;

  @media (min-width: map-get($breakpoints, tablet)) {
    bottom: -0.7rem;
    left: 84%;
    max-width: 80px;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    top: -105px;
    left: 40px;
  }
}
