.about {
  padding: 30px;
  color: #000000;

  @media (min-width: map-get($breakpoints, tablet)) {
    padding: 50px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    padding-bottom: 0;
  }
}

.about__title {
  margin: 30px 0 20px 0;
  line-height: 30px;
  font-size: 25px;

  @media (min-width: map-get($breakpoints, desktop)) {
    margin-top: 45px;
    margin-bottom: 40px;
    font-size: 53px;
    line-height: 57px;
  }

  @media (min-width: map-get($breakpoints, tablet)) {
    font-size: 43px;
    line-height: 50px;
  }
}

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: map-get($breakpoints, tablet)) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 445px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    max-height: 500px;
  }
}

.about__item {
  // position: relative;
  // padding-top: 60px;
  font-weight: 700;

  &:not(:last-of-type) {
    padding-bottom: 20px;

    @media (min-width: map-get($breakpoints, desktop)) {
      padding-bottom: 55px;
    }
  }

  &::before {
    content: "";
    display: block;
    // position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  @media (min-width: map-get($breakpoints, tablet)) {
    width: 45%;
    padding-top: 0;
  }

  &--flower {
    &::before {
      background-image: url("../../../img/icon-feature-flower.svg");
    }
  }

  &--money {
    &::before {
      background-image: url("../../../img/icon-feature-money.svg");
    }
  }

  &--heart {
    &::before {
      background-image: url("../../../img/icon-feature-heart.svg");
    }
  }

  &--clew {
    &::before {
      background-image: url("../../../img/icon-feature-ball.svg");
    }
  }

  &--rocket {
    &::before {
      background-image: url("../../../img/icon-feature-rocket.svg");
    }
  }

  &--present {
    &::before {
      background-image: url("../../../img/icon-feature-gift.svg");
    }
  }
}

.about__text {
  margin: 0;
  text-align: left;

  @media (min-width: map-get($breakpoints, tablet)) {
    font-size: 20px;
    word-break: break-word;
  }

  @media (min-width: map-get($breakpoints, tablet)) {
    line-height: 22px;
  }
}
