.best-product {
  @media (min-width: map-get($breakpoints, tablet)) {
    max-width: 668px;
    margin: 0 auto;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    max-width: 100%;
    width: 100%;
  }
}

.best-product__text {
  margin: 22px 0 16px;
  font-size: 15px;
  line-height: 24px;
  color: #444444;

  @media (min-width: map-get($breakpoints, tablet)) {
    margin-top: -7px;
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    margin-bottom: 43px;
  }
}

.best-product__body {
  @media (min-width: map-get($breakpoints, tablet)) {
    max-width: 290px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    max-width: 295px;
    margin-top: 158px;
  }
}

.best-product__heading {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: map-get($breakpoints, tablet)) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 692px;
    margin-left: 17px;
  }
}

.best-product__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  color: #000000;

  @media (min-width: map-get($breakpoints, tablet)) {
    font-size: 43px;
    line-height: 50px;
    margin-top: -10px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    min-width: 540px;
    font-size: 53px;
    line-height: 57px;
  }
}

.best-product__chars {
  margin: 0 0 27px 0;
  padding: 0;
  list-style: none;
}

.best-product__char {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.best-product__char-value {
  display: block;
  width: 63%;

  @media (min-width: map-get($breakpoints, tablet)) {
    width: 67%;
  }
}

.best-product__char-category {
  display: block;
}

.best-product__image-wrapper {
  max-width: 100%;

  @media (min-width: map-get($breakpoints, desktop)) {
    margin-top: -10px;
  }
}

.best-product__section {
  @media (min-width: map-get($breakpoints, tablet)) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    max-width: 875px;
    margin-left: auto;
    margin-top: -155px;
    align-items: flex-start;
  }
}

.best-product__image {
  height: 100%;
  max-width: 100%;
  vertical-align: bottom;
  display: block;
  margin: 0 auto;

  @media (min-width: map-get($breakpoints, tablet)) {
    min-width: 335px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    min-width: 525px;
  }
}

.best-product__price {
  padding: 25px 0 28px;
  text-align: center;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: map-get($breakpoints, tablet)) {
    padding: 19px 0 35px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    padding-bottom: 36px;
    font-size: 20px;
    line-height: 24px;
  }
}

.best-product__action {
  display: block;
  margin: 0 auto;

  @media (min-width: map-get($breakpoints, tablet)) {
    width: 290px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    margin-bottom: 3px;
  }
}

.best-product__footer {
  @media (min-width: map-get($breakpoints, tablet)) {
    position: absolute;
    min-width: 290px;
    bottom: 7%;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    max-width: 350px;
    left: 226px;
    bottom: 74px;
  }
}
