.footer {
  padding: 30px;
  background-color: #f1f1f1;

  @media (min-width: map-get($breakpoints, tablet)) {
    display: flex;
    justify-content: flex-end;
  }
}

.footer__logo {
  @media (min-width: map-get($breakpoints, tablet)) {
    width: 33.33%;
  }
}
