.contacts {
  padding: 30px 0;
}

.contacts__list {
  padding: 0 30px;
  margin: 0;
  list-style: none;

  @media (min-width: map-get($breakpoints, tablet)) {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
  }
}

.contacts__item {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  line-height: 30px;
  color: #444444;

  @media (min-width: map-get($breakpoints, tablet)) {
    font-size: 17px;
    width: 45%;
  }
}

.contacts__category {
  margin-right: 11%;
}

.contacts__value {
  &--address {
    width: 204px;
  }
}

.contacts__email {
  display: block;
  padding-bottom: 7px;
  color: #444444;
  text-decoration: none;

  background-image: linear-gradient(to bottom, #ffffff, #62d1ba);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.contacts__title {
  position: relative;
  margin: 35px 0;
  padding: 0 30px;
  color: #000000;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: map-get($breakpoints, tablet)) {
    font-size: 43px;
    line-height: 50px;
    margin: 50px 0 50px 0;
    padding-left: 50px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 50px;
      transform: translateY(-50%);
      width: 55px;
      height: 85px;
      background-image: url("../../../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }
}

.contacts__action {
  margin: 40px 0 10px 0;

  @media (min-width: map-get($breakpoints, tablet)) {
    width: 230px;
    text-align: center;
  }
}

.contacts__actions {
  padding: 0 30px;
  text-align: center;
}
