.contacts {
  padding: 30px 0;

  @media (min-width: map-get($breakpoints, tablet)) {
    padding: 50px 0;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    padding: 95px 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    // padding-left: 175px;

    @include wrapper(1050px);
  }
}

.contacts__list {
  padding: 0 30px;
  margin: 0;
  list-style: none;

  @media (min-width: map-get($breakpoints, tablet)) {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    min-width: 350px;
    padding-top: 108px;
    padding-right: 13px;
    flex-direction: column;
    justify-content: center;
  }
}

.contacts__item {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  // line-height: 30px;
  color: #444444;

  @media (min-width: map-get($breakpoints, tablet)) {
    font-size: 17px;
    width: 45%;
  }

  @media (min-width: map-get($breakpoints, tablet)) {
    width: 100%;
  }
}

.contacts__category {
  margin-right: 11%;
}

.contacts__value {
  line-height: 30px;

  &--address {
    width: 204px;
  }
}

.contacts__email {
  display: block;
  color: #444444;
  text-decoration: none;
  transition: color 0.25s ease-in-out, border 0.25s ease-in-out;
  border-bottom: 1px solid #62d1ba;
  line-height: 30px;

  &:hover,
  &:focus {
    color: #46c1ae;
    border-bottom-color: #46c1ae;
    cursor: pointer;
  }

  // background-image: linear-gradient(to bottom, #ffffff, #62d1ba);
  // background-size: 100% 1px;
  // background-repeat: no-repeat;
  // background-position: bottom;
}

.contacts__title {
  position: relative;
  margin: 35px 0;
  padding: 0 30px;
  color: #000000;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: map-get($breakpoints, tablet)) {
    font-size: 43px;
    line-height: 50px;
    margin: 50px 0 50px 0;
    padding-left: 50px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 50px;
      transform: translateY(-50%);
      width: 55px;
      height: 85px;
      background-image: url("../../../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: 50%;

      @media (min-width: map-get($breakpoints, desktop)) {
        right: 0;
        left: -110px;
      }
    }
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    position: absolute;
    left: 156px;
    padding: 0;
    font-size: 53px;
    line-height: 57px;
    margin: 75px 0 0 0;
  }
}

.contacts__action {
  margin: 40px 0 10px 0;

  @media (min-width: map-get($breakpoints, tablet)) {
    margin-top: 50px;
    width: 230px;
    text-align: center;
  }
}

.contacts__actions {
  padding: 0 30px;
  text-align: center;

  @media (min-width: map-get($breakpoints, desktop)) {
    position: absolute;
    bottom: 87px;
    left: 150px;
  }
}
