.main-content__section {
  padding: 35px;

  &--title {
    background-color: #f1f1f1;
    text-align: center;
  }
}

.main-content__video {
  padding: 30px;
}

.main-content__title {
  color: #000000;
  font-size: 27px;
  line-height: 30px;
}

.main-content__form {
  padding: 30px;
}

.main-content__card,
.main-content__reviews {
  background-image: url("../../../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.main-content__reviews {
  // @media (min-width: map-get($breakpoints, tablet)) {
  //   background-image: url(../../../img/bg-zigzag-line.svg);
  //   background-repeat: no-repeat, no-repeat;
  //   background-position: 0, bottom;
  //   background-size: 28%, 100%;
  // }
}
