.info-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: map-get($breakpoints, tablet)) {
    display: flex;
    align-items: flex-end;
    padding: 0 50px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    padding: 0;
    min-width: 1050px;
    max-width: 1050px;
    margin: 0 auto;
  }
}

.info-navigation__item {
  position: relative; //!!!Hover
  display: block;
  margin: 0;
  width: 100px;
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: map-get($breakpoints, tablet)) {
    line-height: 31px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    font-size: 20px;
    line-height: 30px;
  }
}

.info-navigation__list-item {
  display: block;
  width: 100%;
}

.info-navigation__link {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 26px 26px 7px 29px;

  &::after {
    content: "";
    position: relative; //!!Hover
    display: block;
    right: 0;
    top: 50%;
    height: 70px;
    background-repeat: no-repeat;
  }

  &--interier {
    &::after {
      width: 50px;
      background-image: url("../img/icon-interior.svg");

      @media (min-width: map-get($breakpoints, tablet)) {
        right: -10px;
      }
    }
  }

  &--toy {
    &::after {
      width: 59px;
      background-image: url("../img/icon-toy.svg");

      @media (min-width: map-get($breakpoints, tablet)) {
        right: -3px;
        top: 3px;
      }
    }
  }

  &:hover::after,
  &:focus::after {
    top: -5px;
    // transform: translateY(calc(-50% - 5px));
  }

  &:hover .info-navigation__item,
  &:focus .info-navigation__item {
    top: -5px;
  }

  @media (min-width: map-get($breakpoints, tablet)) {
    padding: 27px 37px;
  }

  @media (min-width: map-get($breakpoints, desktop)) {
    width: 100%;
  }
}
